.dashboard-split {
    grid-template-columns: 1fr;
    border: 1px solid rgba(156, 156, 156, 0.123);
    border-radius: 24px;
    z-index: 1;
}

.panel {
    z-index: 1;
}

#filter-btn {
    padding: 5px;
    cursor: pointer;
    text-align: left;
    text-indent: 20px;
}

/* Fundo Escuro do Modal */
.modal-overlay {
  display: none; /* Oculto por padrão */
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

/* A caixa do Modal */
.modal-content {
  background-color: red;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
}

/* Cabeçalho */
.modal-header {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
  color: #333;
  font-size: 18px;
}

.close-modal {
  cursor: pointer;
  font-size: 24px;
  color: #999;
}

/* Corpo */
.modal-body {
  padding: 20px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

/* Estilização dos Checkboxes e Badges */
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.custom-checkbox input {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

/* Estilo das Badges (Pílulas coloridas) */
.status-badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.status-badge.pendente { background-color: #FFF3CD; color: #856404; } /* Amarelo da imagem */
.status-badge.enviado { background-color: #D4EDDA; color: #155724; } /* Verde Sucesso */
.status-badge.cancelado { background-color: #F8D7DA; color: #721C24; } /* Vermelho Erro */

/* Rodapé e Botões */
.modal-footer {
  padding: 15px 20px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-primary {
  background-color: var(--primary-green);
  color: white;
}
.btn-primary:hover { background-color: #1b5e20; }

.btn-outline {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #666;
}
.btn-outline:hover { background-color: #f0f0f0; }

/* Animação simples */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-10px);}
  to {opacity: 1; transform: translateY(0);}
}