.dashboard-split {
    grid-template-columns: 1fr;
    border: 1px solid rgba(156, 156, 156, 0.123);
    border-radius: 24px;
    z-index: 1;
}

td:has(img) {
    width: 100px;
}

td > img {  
    width: 100%;
    object-fit: cover;
}

.descricao-produto, .nome-produto {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

