.grid-container {
    display: grid;
    gap: 40px 0px;
    height: 100%;
    width: 100%;
}

.rota {
    grid-template-columns: 1 / span 12;
    grid-template-rows: 1 / span 1;
}

.rota nav {
    display: flex;
    list-style-type: none;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
}

.rota a {
    text-decoration: none;
    color: var(--cinza_texto)
}

.rota a:hover {
    color: var(--azul_destaque);
}

.flex-container {
    grid-template-columns: 1 / span 12;
    grid-template-rows: 2 / span 1;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.container-imagem {
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.container-imagem img {
    width: 100%;
    padding: 0px 25px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.267);
    border-radius: 5px;
}

.info-produto {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-produto span {
    background-color: #49a34d56;
    font-size: 2rem;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    width: auto;
}

.info-produto button {
    padding: 10px 20px;
    background-color: #49a34d56;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.oculto {
    display: none;
}

.info-produto .container-descricao {
    width: 100%;
    margin-top: 20px;
}

.container-descricao h3 {
    margin-bottom: 15px;
}

.container-descricao p {
    line-height: 1.8;
}

.comentarios {
    grid-template-columns: 1 / span 12;
    grid-template-rows: 3 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: 0px -3px 10px -5px rgba(0, 0, 0, 0.219); */
    padding: 15px 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.164);
}

h4 {
    margin-top: 15px;
}

hr {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 77%;
}

.card-comentario {
    padding: 20px 10px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 5px;
}

.card-header > * {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 15px;
    text-transform: capitalize;
}