{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/detalhes_produto.css' %}">
    <script src="{% static 'javascript/detalhes_produto.js' %}" defer></script>
{% endblock %}

{% block favorito %} <span id="contagem-favorito">{{ favoritos }}</span> {% endblock %}

{% block sacola %} <span id="contagem-cesta">{{ itens_sacola }}</span> {% endblock %}

{% if categorias %}
{% block categorias %}
    {% for categoria in categorias %}
        <li><a href="/?categoria={{ categoria.nome }}">{{ categoria.nome }}</a></li>
    {% endfor %}
{% endblock %}
{% endif %}

{% block conteudo %}
<div class="grid-container">
    <div class="rota">
        <nav>
            <li><a href="{% url 'pagina_principal' %}">Início</a></li>
            <li><i class="bi bi-chevron-right"></i></li>
            <li><a href="/?categoria={{ produto.categoria }}">{{ object.categoria }}</a></li>
            <li><i class="bi bi-chevron-right"></i></li>
            <li><a href="#">{{ object.nome }}</a></li>
        </nav>
    </div>
    <div class="flex-container">
        <div class="container-imagem"><img src="{{ object.imagem.url }}" alt="{{ object.imagem.url }}"></div>
        <div class="info-produto">
            <h2>{{ object.nome }}</h2>
            <span>R$ {{ object.valor }}</span>
            
            <button class="{% if adicionado_cesta %} oculto {% endif %}" id="btn-adicionar-cesta" data-produto-id="{{ object.id }}" type="button">Adicionar à cesta <i class="bi bi-basket3"></i></button>

            <button class="{% if not adicionado_cesta %} oculto {% endif %}" id="btn-retirar-cesta" data-produto-id="{{ object.id }}" type="button">Retirar da cesta</button>
            
            <div class="container-descricao">
                <h3>Descrição do produto:</h3>
                {% if object.descricao != "" %}
                    <p>{{ object.descricao }}</p>
                {% else %}
                    <p>Este produto não possui descrição.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="comentarios">
        <h4>Avaliações</h4>
        <hr>
        {% for comentario in comentarios %}
            <div class="card-comentario">
                <div class="card-header">
                    <h5>{{ comentario.cliente }}</h5> 
                    <p>{{ comentario.data }}</p>
                </div>
                <p>{{ comentario.comentario }}</p>
            </div>
        {% empty %}
            <h2>Este produto ainda não tem comentários 😓</h2>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block categorias_footer %}
    {% for categoria in categorias %}
        <li><a href="/?categoria={{ categoria.nome }}">{{ categoria.nome }}</a></li>
    {% endfor %}
{% endblock %}