{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/lista_produtos.css' %}">
    <script src="{% static 'javascript/lista_produtos.js' %}" defer></script>
{% endblock %}

{% block favorito %} <span id="contagem-favorito">{{ favoritos|length }}</span> {% endblock %}

{% block sacola %} <span id="contagem-cesta">{{ itens_sacola }}</span> {% endblock %}

{% if categorias %}
{% block categorias %}
    {% for categoria in categorias %}
        <li><a href="/?categoria={{ categoria.nome }}">{{ categoria.nome }}</a></li>
    {% endfor %}
{% endblock %}
{% endif %}

{% block conteudo %}
    <div class="container-produtos">
    {% for produto in page_obj %}
        <div class="product-card">
            <div class="image-container">
                <button class="favorite-btn" aria-label="Adicionar aos favoritos" data-produto-id="{{ produto.id }}">
                    <i class="bi bi-heart{% if produto.id in favoritos %}-fill{% endif %}"></i>
                </button>
                <a href="{% url 'pagina_produto' produto.pk %}">
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                </a>
            </div>
            <a href="{% url 'pagina_produto' produto.pk %}">
                <div class="card-content">
                    <h2 class="product-title">
                        {{ produto.nome }}
                    </h2>
                    <div class="price-section">
                        <span class="current-price">R$ {{ produto.valor }}</span>
                    </div>
                    <div class="coupon-container">
                        <span class="coupon-badge">R$ 20 OFF BB VISA</span>
                    </div>
                </div>
                </a>
        </div>
    {% empty %}
        <h2>Não encontramos nenhum produto 😓</h2>
    {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;   Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">&lsaquo;   Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima   &rsaquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última   &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% if categorias %}
{% block categorias_footer %}
    {% for categoria in categorias %}
        <li><a href="#">{{ categoria.nome }}</a></li>
    {% endfor %}
{% endblock %}
{% endif %}